body {
	margin:0px;
}

#map {
	height: 97vh;
	z-index: 52;
}

.apiform{
	opacity: 0.7;
	background-color: white;
	position: absolute;
	right: 40px;
	top: 40px;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	z-index: 52;
}

.text {
	display: inline-block;
}
.input{
	display: inline-block;
	clear: both;
}
.account-select{
	display: inline-block;
	clear: both;
}

.call-values{
  display: block;
  clear: both;
}

.calls-value, .totalcalls-value {
	display: inline-block;
}

.templine {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.humline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.wspdmline {
  fill: none;
  stroke: grey;
  stroke-width: 1.5px;
}

.precipline {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}